<template>
  <div class="about">
    <h1>Save to Phone</h1>

    <form action="POST" class="AboutView" @submit.prevent>

      <input type="text" name="contactName" id="" placeholder="type the name...">
      <input type="tel" name="mobileName" id="" placeholder="type the mobile">

    </form>

  </div>
</template>

<script>

import axios from 'axios'

export default {  
  name: 'AboutView',
  data(){
    return{
      contacts: {
        mobile: 0,
        name: ''
      },
      sms_error: ''
    }
  },
  mounted(){
    this.getData()
  },
  methods: {
    getData(){
      const path = 'http://localhost:3000/api/contact'
      axios.post(path, null, {params: this.contacts} )
      .then(response => { 
          this.data_list = response.data
        })
        .catch(error => {
            this.sms_error = error + ' check your network connection'
        })
    }
  }

}
</script>