<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    
    <p>{{ data_list }}</p>

    <span>{{ sms_error }}</span>

  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'

export default {
  name: 'HomeView',
  data(){
    return{
      data_list: [],
      sms_error: ''
    }
  },
  mounted(){
    this.getData()
  },
  methods: {
    getData(){
      const path = 'http://localhost:3000/api/contacts' 
      axios.get(path)
      .then(response => { 
          this.data_list = response.data
        })
        .catch(error => {
            this.sms_error = error + ' check your network connection'
        })
    }
  }

}
</script>
