<template>
     <div>

          <router-link to="/postContact">
               <button type="button" class="btn btn-primary" >Add Contact</button>
          </router-link>
          <br>   

       <img alt="Vue logo" src="../assets/logo.png">
       
          <h1>Contacts</h1>

       <div class="container">
        <div class="card" >
         <div class="card-body">

          
       <div v-for="contact in data_list" :key="contact.name">
          <router-link style="text-decoration:none" :to="{name: 'getContact', params: {name: contact.name}}">
               <h2>{{contact.name}}</h2>
               <hr>
          </router-link>
       </div>
   
       <span>{{ sms_error }}</span>
      </div>
       
         </div> 
       </div>
     </div>
   </template>
   
   <script>
   import axios from 'axios'
   
   export default {
     name: 'getContacts',
     data(){
       return{
         data_list: [],
         sms_error: ''
       }
     },
     mounted(){
       this.getData()
     },
     methods: {
       getData(){
         axios.get('http://localhost:3000/api/contacts')
         .then(response => { 
             this.data_list = response.data;
           })
           .catch(error => {
               this.sms_error = error + ' check your network connection';
           })
       }
     }
   
   }
   </script>

   <style>
    h2{
      text-decoration: none;
      margin-bottom: 2%;
    }
   </style>