<template>
     <div>
        <div class="container" style="background-color: rgb(31,31,31);">
          <div class="col-md-6 offset-md-3" >
            <router-link to="/">
              <button type="button" class="btn btn-primary" >Home</button>
            </router-link><br>   
              <h1>Contact</h1>
               <form form action="post"  @submit.prevent class="card card-body p-4 " style="background-color: rgb(0, 0, 0);">
                <input type="text" id="input-contact-name" name="contact-name" placeholder="name... max lenght 29" readonly v-model="contact_object.name"><br>
                <input type="tel" id="input-contact-mobile" name="contact-mobile" placeholder="mobile... max lenght 10" readonly v-model="contact_object.mobile"><br>
                <button id="btn-delete" @click="deleteData()" type="button" class="btn btn-danger" >Delete</button><br>
                <button id="btn-edit" @click="enableBottonEdit()" type="button" class="btn btn-success" >Edit</button><br>
                <button id="btn-update" @click="patchData()" type="button" class="btn btn-warning" disabled >Update</button>
                <span>{{sms}}</span>
                <span>{{ sms_error }}</span>
               </form>
          </div>
        </div>
     </div>
   </template>
   
   <script>
   import axios from 'axios'
   
   export default {
     name: 'getContact',
     data(){
       return{
         contact_name: this.$route.params.name,
         contact_object: {
          name: '',
          mobile: ''
         },
         sms: '',
         sms_error: ''
       }
     },
     mounted(){
       this.getData()
     },
     methods: {

       getData(){ // get data specific contact
         axios.get('http://localhost:3000/api/contact/' + this.contact_name)
         .then(response => { 
            this.contact_object = response.data;
           })
         .catch(error => {
              this.sms_error = error + ' check your network connection';
           })
       },

       deleteData(){ // delete specific contact
        axios.delete('http://localhost:3000/api/contact/' + this.contact_object.mobile)
        .then(response => {
          this.sms = response.data;
          this.contact_object = {
                name: '',
                mobile: null
          }
        })
        .catch(error => {
          this.sms_error = error + ' check your network connection';
        })
       },

       unenableBottonEdit(){
       	//functions
          const btnDelete = document.getElementById('btn-delete');
          const btnUpdate = document.getElementById('btn-update');
          const inputContactName = document.getElementById('input-contact-name');
          const inputContactMobile = document.getElementById('input-contact-mobile');
          btnDelete.disabled = false;
          btnUpdate.disabled = true;
          inputContactName.readOnly = true;
          inputContactMobile.readOnly = true;
       },

       patchData(){ // update specific contact
        axios.patch('http://localhost:3000/api/contact/' + this.contact_name, null, {params: this.contact_object})
        .then(response => {
          this.sms = response.data;
          this.unenableBottonEdit();
        })
        .catch(error => {
          this.sms_error = error + ' check your network connection';
        })
       },

       enableBottonEdit(){
          const btnDelete = document.getElementById('btn-delete');
          const btnUpdate = document.getElementById('btn-update');
          const inputContactName = document.getElementById('input-contact-name');
          const inputContactMobile = document.getElementById('input-contact-mobile');
          btnDelete.disabled = true;
          btnUpdate.disabled = false;
          inputContactName.readOnly = false;
          inputContactMobile.readOnly = false;
       }
     }
   
   }
   </script>
