<template>
     <div>
       <router-link to="/">
          <button type="button" class="btn btn-primary" >Home</button>
       </router-link>
       <h1>Save Contacts</h1>
         <div class="container">
            <div class="col-md-6 offset-md-3">
               <form action="post" class="card card-body p-4 " style="background-color: rgb(0, 0, 0);" @submit.prevent @submit="postData()">
                 <input type="text" placeholder="name... max lenght 29" required v-model="this.contact.name"><br>
                 <input type="tel" placeholder="mobile... max lenght 10" required v-model="this.contact.mobile"><br>
                 <input type="submit" class="btn btn-success" value="Save">
                 <span>{{sms}}</span>
                 <span>{{sms_error}}</span>
               </form>
            </div>
         </div>
     </div>
</template>

<script>
     import axios from 'axios'
     export default {
       name: 'postContact',
       data(){
         return{
           contact:{
               name: '',
               mobile: null
           },
           sms: '',
           sms_error: ''
         }
       },
       methods: {
          postData(){
               axios.post('http://localhost:3000/api/contact', null, {params: this.contact})
               .then(response => {
                    this.sms = response.data;
                    this.contact = {
                         name: '',
                         mobile: null
                    }
               })
               .then(error => {
                    console.log(error + ' check your network connection');
               })          
          }
       }
     
     }
     </script>